@using HikeGroop.Data.Enums;
@using HikeGroop.ViewModels;
@model CreateDestinationViewModel;

<form method="post" asp-action="Create" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control"  placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

        <br />
         <h6>Itinerary</h6>
        <br />

    <div class="form-group">
        <label asp-for="Itinerary.MeetUp"></label>
        <input asp-for="Itinerary.MeetUp" class="form-control" placeholder="Meet Up"/>
        <span asp-validation-for="Itinerary.MeetUp" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Itinerary.JumpOffPoint"></label>
        <input asp-for="Itinerary.JumpOffPoint" class="form-control" placeholder="Jump Off Point" />
        <span asp-validation-for="Itinerary.JumpOffPoint" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Itinerary.Location"></label>
        <input asp-for="Itinerary.Location" class="form-control" placeholder="Location" />
        <span asp-validation-for="Itinerary.Location" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="Itinerary.Elevation"></label>
         <input asp-for="Itinerary.Elevation" class="form-control" placeholder="Elevation" />
        <span asp-validation-for="Itinerary.Elevation" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Itinerary.DaysRequired"></label>
       <input asp-for="Itinerary.DaysRequired" class="form-control" type="number" placeholder="Days Required" />
        <span asp-validation-for="Itinerary.DaysRequired" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Itinerary.HoursToSummit"></label>
        <input asp-for="Itinerary.HoursToSummit" class="form-control" type="number" placeholder="Hours To Summit" />
        <span asp-validation-for="Itinerary.HoursToSummit" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HikingCategory">Category</label>
        <select asp-for="HikingCategory"
        asp-items="@Html.GetEnumSelectList<HikingCategory>()"
                class="form-control form-control-lg">
        <option>--select--</option>
      </select>
        <span asp-validation-for="HikingCategory" class="text-danger"></span>
    </div> 

    <div class="form-group">
        <label asp-for="HikingTour">Tour Type</label>
        <select asp-for="HikingTour"
                asp-items="@Html.GetEnumSelectList<HikingTour>()"
                class="form-control form-control-lg">
        <option>--select--</option>
      </select>
        <span asp-validation-for="HikingTour" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="TrailClass">Tour Type</label>
        <select asp-for="TrailClass"
                asp-items="@Html.GetEnumSelectList<TrailClass>()"
                class="form-control form-control-lg">
        <option>--select--</option>
      </select>  
      <span asp-validation-for="TrailClass" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    
    </div>
   
    <br/>
    <button type="submit" class="btn btn-primary">Create</button>
</form>