@using HikeGroop.ViewModels
@model LoginViewModel


@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="page-loader" id="page-loader">

    <div class="loader"><span class="loader-item"></span><span class="loader-item"></span><span
            class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span
            class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span
            class="loader-item"></span><span class="loader-item"></span></div>

</div><!-- page loader -->

<div class="theme-layout">

    <div class="authtication bluesh high-opacity">

        <ul class="welcome-caro">
            <li class="welcome-box">

                <h4>Find Meetups and community</h4>
                <p>
                    Join HikeGroop and meetup with hiker fellows.
                </p>
            </li>
            <li class="welcome-box">

                <h4>Build your own striving hiking community</h4>
                <p>
                    You can build your own group and participate in activities
                </p>
            </li>
            <li class="welcome-box">

                <h4>Ready to join hiking activities?</h4>
                <p>
                    Participate in hiking activities for all type of hikers
                </p>
            </li>

        </ul>
    </div>
    <div class="auth-login">
        <div class="logo"><img src="~/assets/images/logo.png" alt=""><span>HikeGroop</span></div>
        <div class="mockup left-bottom"><img src="~/assets/images/mockup.png" alt=""></div>
        <div class="verticle-center">
            <div class="login-form">
                <h4><i class="icofont-key-hole"></i> Login</h4>

                @if (TempData["Error"] != null)
                {
                    <div class="col-md-12 alert alert-danger">
                        <span><b>Sorry!</b> - @TempData["Error"]</span>
                    </div>
                }
                <form asp-action="Login" method="post" class="c-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div>
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" type="text">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div>
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <button class="main-btn" type="submit"><i class="icofont-key"></i> Login</button>

                </form>

                <div class="col-auto mt-3">

                    <form asp-controller="DemoAccount" asp-action="DemoAdmin" method="post">
                        <button class="button dark" type="submit">Demo Admin</button>
                    </form>

                    <form asp-controller="DemoAccount" asp-action="DemoUser" method="post">
                        <button class="button secondary transition-3d-hover" type="submit">Demo User</button>
                    </form>

                </div>

            </div>
        </div>
        <div class="mockup right"><img src="~/assets/images/star-shape.png" alt=""></div>
    </div>

</div>
