@using HikeGroop.ViewModels
@using HikeGroop.Data.Enums
@model RegisterViewModel


@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Register.cshtml";
}

<partial name="_LoadingSpinnerPartial" />
<div class="theme-layout">

    <div class="authtication bluesh high-opacity">
        <div class="verticle-center">
            <div class="welcome-note">
                <div class="logo"><img src="~/assets/images/logo.png" alt=""><span>HikeGroop</span></div>
                <h1>Welcome to HikeGroop</h1>
                <p>
                    Every hiker and enthusiast is welcome to join this platform for free and find awesome groups where
                    they can go to hiking activities together.
                </p>
            </div>
            <div class="bg-image" style="background-image: url(assets/images/resources/hikecomm.png)"></div>
        </div>
    </div>
    <div class="auth-login">
        <div class="verticle-center">
            <div class="signup-form">
                <h4><i class="icofont-lock"></i> Sign up</h4>

                @if (TempData["Error"] != null)
                {
                    <div class="col-md-12 alert alert-danger">
                        <span><b>Sorry!</b> - @TempData["Error"]</span>
                    </div>
                }
                <form asp-action="Register" method="post" class="c-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row merged-10">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" type="text" placeholder="e.g. johndoe">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label asp-for="EmailAddress"></label>
                            <input asp-for="EmailAddress" type="text">
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label asp-for="City"></label>
                            <input asp-for="City" type="text">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label asp-for="HikerType"></label>
                            <select asp-for="HikerType" class="form-select"
                                asp-items="@Html.GetEnumSelectList<HikerType>()">
                                <option>--select--</option>
                            </select>
                            <span asp-validation-for="HikerType" class="text-danger"></span>

                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" type="password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>


                        <div class="col-lg-12">
                            <button class="main-btn" type="submit"><i class="icofont-key"></i> Signup</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
