<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>HikeGroop | Register</title>
        <link rel="icon" href="~/assets/images/logo.png" type="image/png" sizes="16x16">

        <link rel="stylesheet" href="~/assets/css/main.min.css">
        <link rel="stylesheet" href="~/assets/css/style.css">
        <link rel="stylesheet" href="~/assets/css/color.css">
        <link rel="stylesheet" href="~/assets/css/responsive.css">
    </head>

    <body>

        <div>
        @RenderBody()
        </div>

        <script src="~/assets/js/main.min.js"></script>
        <script src="~/assets/js/script.js"></script>
    </body>

</html>
